body {
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    animation: moveBox 5s linear infinite;
}

@keyframes moveBox {
    0% {
        transform: translateX(-50vw);
    }
    50% {
        transform: translateX(50vw);
    }
    100% {
        transform: translateX(-50vw);
    }
}
.box2 {
    width: 100px;
    height: 100px;
    background-color: red;
    animation: growShrink 2s infinite;
}

@keyframes growShrink {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}
